<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="/src/js/RTCMultiConnection.min.js"></script>
    <script src="/src/js/socket.io.js"></script>
    <style>
        .color-buttons-wrapper {
            margin: 0 auto 1rem auto;
        }
        .mr3rem {
            margin-right: 0.3rem;
        }
    </style>
</head>
<body>
    <input id="created-room-id" type="text">
    <button id="btn-open-room">Open Room</button>
    <br><br>
    <input id="room-id" type="text">
    <button id="btn-join-room">Join Room</button><hr>

    <div id="app" style="width: 100%;">
        <div style="margin-top: 0.5rem;">
            <div class="d-flex justify-content-center color-buttons-wrapper">
                <!--<button v-for="(key, val) in buttons" @click="changeColor(key)" :id="key" class="btn">{{ buttons[key].title }}</button>-->
                <button class="btn color-button mr3rem" @click="changeColor('purple')" id="purple">Фиолетовый</button>
                <button class="btn color-button mr3rem" @click="changeColor('green')" id="green">Зелёный</button>
                <button class="btn color-button mr3rem" @click="changeColor('yellow')" id="yellow">Жёлтый</button>
                <button class="btn color-button mr3rem" @click="changeColor('brown')" id="brown">Коричневый</button>
                <button class="btn color-button" @click="clearCanvas()">Очистить</button>
            </div>

            <canvas id="myCanvas" style="display: block; margin: 0 auto 1rem auto;" @mousedown="handleMouseDown" @mousemove="handleMouseMove" @mouseUp="paint = !paint" @mouseleave="paint = false"></canvas>

            <div style="text-align: center; width: 100%;">Размеры</div>
            <div class="d-flex justify-content-center color-buttons-wrapper">

                <!--<button v-for="(key, val) in buttons" @click="changeColor(key)" :id="key" class="btn">{{ buttons[key].title }}</button>-->
                <button class="btn size-button mr3rem" @click="changeSize('small')" id="small">5</button>
                <button class="btn size-button mr3rem" @click="changeSize('normal')" id="normal">15</button>
                <button class="btn size-button mr3rem" @click="changeSize('bold')" id="bold">30</button>
                <button class="btn size-button" @click="changeSize('monster')" id="monster">50</button>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript" src="/src/js/simple-drawing.js"></script>
<script>
    var connection = new RTCMultiConnection();

    // this line is VERY_important
    // connection.socketURL = 'ws://127.0.0.1:8080/';
    connection.socketURL = 'https://rtcmulticonnection.herokuapp.com:443/';
    // connection.socketURL = 'https://websocket.dwtolk.ru:80/';
    // all below lines are optional; however recommended.
    connection.session = {
        audio: true,
        video: true
    };
    connection.sdpConstraints.mandatory = {
        OfferToReceiveAudio: true,
        OfferToReceiveVideo: true
    };
    connection.onstream = function(event) {
        document.body.appendChild( event.mediaElement );
    };
    let predefinedRoomId = 'YOUR_Name';
    document.getElementById('btn-open-room').onclick = function() {
        this.disabled = true;
        predefinedRoomId = document.getElementById("created-room-id").value;
        connection.open( predefinedRoomId );
    };
    document.getElementById('btn-join-room').onclick = function() {
        this.disabled = true;
        predefinedRoomId = document.getElementById("room-id").value;
        connection.join( predefinedRoomId );
    };
</script>
</body>
</html>